---
title: DemocracyOS France
---
<div class="banner text-center">
  <div class="banner-shadow"></div>
    <div class="banner-content">
        <div id="social" class="col-xs-4 col-xs-offset-8">
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/DemocracyOSfrance"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/democracyos_fr"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCeHjr4rj-YN-THvXAqJL5hg"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://medium.com/@DemocracyOS_FR"><i class="fa fa-medium"></i></a></li>
          </ul>
        </div>
        <div class="padded-top">
          <%= image_tag "logo-w.png" %>
        </div>

      <div class="fade-and-slide">
      <!-- Rotating sentence -->
      <section class="rw-wrapper padded-bottom">
        <h1 class="rw-sentence">
          <span>Une démocratie</span>
          <div class="rw-words rw-words-1">
            <span>&nbsp;</span>
            <span>&nbsp;participative</span>
            <span>&nbsp;citoyenne</span>
            <span>&nbsp;directe</span>
            <span>&nbsp;pour le XXIe siècle</span>
            <span>.</span>
          </div>
      </h1>
      </section>
      </div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#technology" aria-controls="technology" role="tab" data-toggle="tab">Technology</a></li>
        <li role="presentation"><a href="#team" aria-controls="team" role="tab" data-toggle="tab">Team</a></li>
        <li role="presentation"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Projects</a></li>
        <li role="presentation"><a href="#supportus" aria-controls="supportus" role="tab" data-toggle="tab">Support Us</a></li>
        <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

      <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="technology">
    <%= partial "technology" %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="team">
    <%= partial "team" %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="projects">
    <%= partial "projects" %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="supportus">
    <%= partial "supportus" %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="contact">
    <%= partial "contact" %>
  </div>
</div>

<div class="padded-top">
  <div class="container">
    <div class="col-xs-12 col-sm-3">
      <div class="feature">
        <h2>
          <%= image_tag "chat.png" %>
          Discuss best tools
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores sequi sed, odit tenetur? Necessitatibus ad nulla deleniti quis vel facere hic illum omnis expedita beatae aliquam quibusdam asperiores laborum, magni.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="feature">
        <h2>
          <%= image_tag "mobile.png" %>
          Always in sync
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea officia beatae, repellendus eveniet alias vel laboriosam, necessitatibus error cum asperiores facere aliquam consectetur ad impedit molestiae, harum? Vel, quidem, sit.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="feature">
        <h2>
          <%= image_tag "search.png" %>
          Powerful search
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis optio adipisci minus vero voluptatum soluta corporis alias ut commodi non quaerat quasi reprehenderit sit dolore nulla qui cum explicabo, possimus.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="feature">
        <h2>
          <%= image_tag "heart.png" %>
          Share the love
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ab cumque delectus, reiciendis fugit molestiae totam obcaecati exercitationem illum amet, recusandae, odio est. Repudiandae sapiente provident, sint reprehenderit necessitatibus, magni.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="padded">
  <h2 class="section-header text-center">Most popular</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" data-sr="enter bottom and scale up 20% over 1s">
          <span class="card-bg" style="background-image: url('http://unsplash.it/500/300/?image=0')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Trello</h2>
            <p>Very cool stuff, useful and smart</p>
          </span>
          <span class="card-user">
            <img src='http://placehold.it/50x50' class="avatar avatar-bordered"/>
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" data-sr="enter bottom and scale up 20% over 1s">
          <span class="card-bg" style="background-image: url('http://unsplash.it/500/300/?image=1')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Intercom</h2>
            <p>Very cool stuff, useful and smart</p>
          </span>
          <span class="card-user">
            <img src='http://placehold.it/50x50' class="avatar avatar-bordered"/>
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" data-sr="enter bottom and scale up 20% over 1s">
          <span class="card-bg" style="background-image: url('http://unsplash.it/500/300/?image=2')"></span>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2>Mixpanel</h2>
            <p>Very cool stuff, useful and smart</p>
          </span>
          <span class="card-user">
            <img src='http://placehold.it/50x50' class="avatar avatar-bordered"/>
          </span>
          <a href="#" class="card-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center padded-bottom" id="newsletter">
  <h2 class="section-header">Get news from us</h2>
  <p>Leave us your mail and get stylus news</p>
  <form class="form-inline">
    <input type="email" placeholder="bob@gmail.com" class="form-control">
    <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
  </form>
</div>

